Options -Indexes

RewriteEngine On

# Redirect all requests to home page
RewriteRule ^ht_access/img/(.*\.(jpg|jpeg|png|gif))$ - [L]

# Allow to only display images on home page
RewriteRule ^ht_access/img/.*$ /ht_access/ [R=301,L]